.menu{
    float:left;
<<<<<<< HEAD
    padding-left: 60px;
    color:black;
    font-size: 20px;
    
}

.contact{
    float:right;
    font-size: 20px;
=======
    padding-right:5px;
    background-color: crimson;
    color:white;
    margin-right: 10px;
>>>>>>> f1f79b28f3a82bca4070bc430152a2fdee9d8a5e
}

.list-menu{
    margin:10px;
    padding-bottom:10px;
}

footer{
    background-color: brown;
    color:bisque;
}

.logo{
    text-align: center;
<<<<<<< HEAD
    margin-top:23px;
    
    
}

.icon {
    background-color: chartreuse;
    padding: 15px;



=======
}

.icon{
    background-color: chartreuse;
    padding: 15px;

>>>>>>> f1f79b28f3a82bca4070bc430152a2fdee9d8a5e
}

